:root {
  --background: rgb(59, 103, 158);
  --action: #d5cc27;
  --action-hover: hsl(from var(--action) h s calc(l + 10));
  --text-light: #fff;
  --text-light-variant: hsl(from var(--text-light) h s calc(l - 10));
  --text-dark: #333;
  --text-dark-variant: hsl(from var(--text-dark) h s calc(l - 10));
  --play-area-height: 640px;
  --pause-area-extra-height: 75px;
  /* play-area-width = 8 x card-width of 105px + 9 x gutter/gap of 16px */
  --play-area-width: 984px;
  --card-shadow: #555;
  --card-bg-main: #36c;
  --card-bg-secondary: rgba(255, 255, 255, 0.8);
  /*
    these are set via style attribute in Game.tsx
    --animation-duration
    --card-width
    --card-height
  */
}

.spread {
  position: relative;
  width: 340px;
  height: 200px;
  margin: 0 auto;
}

.spread .card,
.stacked .card {
  position: absolute;
  top: 30px;
  width: var(--card-width);
  height: var(--card-height);
  margin: 5px;
  padding: 4px;
  border: 1px solid var(--card-shadow);
  border-radius: 15px;
  box-shadow: 0 0 0 1px var(--text-dark);
  /* background from https://projects.verou.me/css3patterns/#half-rombes */
  background: var(--card-bg-main);
  background:
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%)
      7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%)
      7px -15px,
    var(--card-bg-main);
  background-size: 15px 30px;
}

.spread,
.dealt,
.stacked {
  position: relative;
  width: var(--play-area-width);
  min-height: var(--play-area-height);
}

.stacked {
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--play-area-height) + var(--pause-area-extra-height));
  z-index: 10;
  background: color-mix(in srgb, var(--text-dark) 80%, transparent);
  border-radius: 10px;

  &::after {
    position: relative;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    content: 'PAUSED';
    font:
      100px/100px 'Arapey',
      sans-serif;
  }

  &.hidden {
    position: static;
  }
}

.cardButton {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: 0;
  left: 0;
}

.cardsWrapper,
.cardsWrapper .cardButton {
  /* cardsWrapper includes all of: .spread, .stacked, and .dealt */
  transition: all var(--animation-duration) ease-in-out;
}

.dealt .card {
  position: relative;
  height: var(--card-height);
}

.dealt .cardfront,
.dealt .cardback {
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px hsl(from var(--background) h s calc(l - 15));
  position: absolute;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all var(--animation-duration) ease-in-out;
}

.dealt .cardfront {
  background: var(--text-light-variant);
  background: radial-gradient(
    var(--text-light) 0%,
    var(--text-light-variant) 100%
  );
  background: radial-gradient(
    ellipse farthest-side at center center,
    var(--text-light) 0%,
    var(--text-light-variant) 100%
  );
}

.dealt .cardback {
  /* background from https://projects.verou.me/css3patterns/#half-rombes */
  background: var(--card-bg-main);
  background:
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%)
      7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%)
      7px -15px,
    var(--card-bg-main);
  background-size: 15px 30px;
}

.dealt .facedown .cardfront,
.dealt .faceup .cardback {
  z-index: -5;
  transform: rotateY(180deg);
}

.dealt .facedown .cardback,
.dealt .faceup .cardfront {
  z-index: 10;
  transform: rotateY(0deg);
}

.dealt .face,
.dealt .suit {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 5px;
  font:
    36px/40px Arial,
    sans-serif;
  text-align: center;
}

.dealt .suit {
  font-size: 50px;
}

.dealt .card.facedown {
  cursor: pointer;
}

.dealt .card.faceup,
.dealt .cardButton[disabled] .card.facedown {
  cursor: default;
}

.dealt .red {
  color: #f00;
}

.dealt .black {
  color: #000;
}

.score {
  width: var(--play-area-height);
  margin: 15px auto 0;
  font-weight: bold;
}

.clicks {
  text-align: left;
}

.matches {
  text-align: center;
}

.time {
  text-align: right;
}

.stats {
  text-align: center;
}

.button {
  padding: 6px 10px;
  border: 1px solid var(--action-hover);
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 0 1px 1px var(--text-light);
  background: linear-gradient(var(--action-hover), var(--action));
  color: var(--text-dark);
  cursor: pointer;
  text-transform: uppercase;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus,
.button:not(:disabled):active {
  border: 1px solid var(--action);
  background: linear-gradient(var(--action), var(--action-hover));
}

.button:disabled {
  cursor: default;
}
