:root {
  --background: rgb(59, 103, 158);
  --action: #d5cc27;
  --action-hover: hsl(from var(--action) h s calc(l + 10));
  --text-light: #fff;
  --text-light-variant: hsl(from var(--text-light) h s calc(l - 10));
  --text-dark: #333;
  --text-dark-variant: hsl(from var(--text-dark) h s calc(l - 10));
  --play-area-height: 640px;
  --play-area-width: 1024px;
  --card-width: 105px;
  --card-height: 130px;
  --card-shadow: #555;
  --card-bg-main: #36c;
  --card-bg-secondary: rgba(255, 255, 255, 0.8);
}

body {
  font:
    20px/30px 'Arapey',
    serif;
  color: var(--text-light);
  text-align: center;
  min-height: 100vh;
  padding-bottom: 15px;
  background: var(--background);
  background: linear-gradient(
    to bottom,
    hsl(from var(--background) h s calc(l - 20)) 0%,
    var(--background) 31%,
    hsl(from var(--background) h s calc(l + 10)) 71%,
    hsl(from var(--background) h s calc(l + 15)) 100%
  );

  background-repeat: no-repeat;
}

h1 {
  font:
    40px/50px 'Arapey',
    sans-serif;
  text-shadow: 0 3px 3px var(--text-dark-variant);
}

a,
a:link {
  text-decoration: none;
  color: var(--action);
  font-weight: bold;
  text-shadow: none;
}

a:hover {
  color: var(--action-hover);
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* - - - - - CARDS - - - - - */
.cardframe {
  position: relative;
  min-width: var(--play-area-width);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--play-area-height);
  z-index: 10;
  background: var(--text-dark);
  border-radius: 15px;

  &::after {
    position: relative;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    content: 'PAUSED';
    font:
      100px/100px 'Arapey',
      sans-serif;
  }

  &.hidden {
    position: static;
  }
}

.cardButton {
  width: var(--card-width);
  height: var(--card-height);
}

.cardframe .card {
  position: relative;
  height: var(--card-height);
}

.cardframe .cardfront,
.cardframe .cardback {
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px hsl(from var(--background) h s calc(l - 15));
  position: absolute;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all var(--animation-duration) ease-in-out;
}

.cardframe .cardfront {
  background: var(--text-light-variant);
  background: radial-gradient(
    var(--text-light) 0%,
    var(--text-light-variant) 100%
  );
  background: radial-gradient(
    ellipse farthest-side at center center,
    var(--text-light) 0%,
    var(--text-light-variant) 100%
  );
}

.cardframe .cardback {
  /* background from https://projects.verou.me/css3patterns/#half-rombes */
  background: var(--card-bg-main);
  background:
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%)
      7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%)
      7px -15px,
    var(--card-bg-main);
  background-size: 15px 30px;
}

.cardframe .facedown .cardfront,
.cardframe .faceup .cardback {
  z-index: -5;
  transform: rotateY(180deg);
}

.cardframe .facedown .cardback,
.cardframe .faceup .cardfront {
  z-index: 10;
  transform: rotateY(0deg);
}

.cardframe .face,
.cardframe .suit {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 5px;
  font:
    36px/40px Arial,
    sans-serif;
  text-align: center;
}

.cardframe .suit {
  font-size: 50px;
}

.cardframe .card.facedown {
  cursor: pointer;
}

.cardframe .card.faceup {
  cursor: default;
}

.cardframe .red {
  color: #f00;
}

.cardframe .black {
  color: #000;
}

.deck {
  position: relative;
  width: 270px;
  height: 200px;
  margin: 0 auto;
}

.deck .card {
  position: absolute;
  top: 30px;
  width: var(--card-width);
  height: var(--card-height);
  margin: 5px;
  padding: 4px;
  border: 1px solid var(--card-shadow);
  border-radius: 15px;
  box-shadow: 0 0 0 1px var(--text-dark);
  /* background from https://projects.verou.me/css3patterns/#half-rombes */
  background: var(--card-bg-main);
  background:
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--card-bg-secondary) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--card-bg-secondary) 75%)
      7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%)
      7px -15px,
    var(--card-bg-main);
  background-size: 15px 30px;
}

.score {
  width: var(--play-area-height);
  margin: 15px auto 0;
  font-weight: bold;
}

.clicks {
  text-align: left;
}

.matches {
  text-align: center;
}

.time {
  text-align: right;
}

.stats {
  text-align: center;
}

.button {
  padding: 6px 10px;
  border: 1px solid var(--action-hover);
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 0 1px 1px var(--text-light);
  background: linear-gradient(var(--action-hover), var(--action));
  color: var(--text-dark);
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover,
.button:focus,
.button:active {
  border: 1px solid var(--action);
  background: linear-gradient(var(--action), var(--action-hover));
}
